* {
    box-sizing: border-box;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

:root {
    --main-color:#E3B873;
    --main-f-color:#fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    padding: 19px 42px 19px 41px;
    border-radius: 2px;
    background-color: var(--main-color);
    border: 1px solid var(--main-f-color);
    border-color: transparent;
    color: var(--main-f-color);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--main-f-color);
    transition: .4s all;
}

.title,
.title_color {
    max-width: 603px;
    font-size: clamp(22px, 4vw, 40px);
    margin: 0;
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: var(--main-f-color);
}

.subtitle {
    font-size: 20px;
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: var(--main-f-color);
    text-align: center;
}
.divider {
    width: 114px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider:before,
.divider:after{
    content: '';
    display: block;
    height: 2px;
    width: 32px;
    background-color: var(--main-color);
}

.header {
    background-color: #131313;
}

.header-wrapper,
.footer-wrapper  {
    padding: 24px 0 22px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

.header-menu { 
    display: flex;
    padding-left: 0;
    margin-left: 48px;
    list-style-type: none;
}

.header-menu__item a {
    margin-left: 47px;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--main-f-color);
    text-decoration: none;
}

.header-menu__item a:hover{
    color: var(--main-color);
    transition: .4s all;
}

.phone a {
    margin-left: 99px;
    font-size: 11px;
    color: var(--main-color);
}

.button_slim {
    padding: 13px 33px;
    margin-left: 45px;
}

.repair {
    position: relative;
    padding: 194px 0 208px 0;
    background: url("../images/bg_repair.jpg") center center/cover no-repeat;
}

.repair:before, 
.online-video:before,
.fantasies:before,
.map:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.repair-wrapper {
    padding-left: 157px;
    position: relative;
}
.title_color {
    font-size: 1em;
    color: var(--main-color);
}

.repair-wrapper .descr {
    max-width: 496px;
    font-size: 1.5em;
    line-height: 1.6;
    margin-top: 19px;
    color: var(--main-f-color);
}
.repair-wrapper__buttons {
    display: flex;
    margin-top: 41px;
}

.button_limpid {
    margin-left: 20px;
    padding: 19px 23px 19px 22px;
}
.button_mobile {
    display: none;
}

 .projects {
    background-color: #131313;
    padding: 107px 134px 416px 134px;
}

.projects-menu {
    grid-column:2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style-type: none;
}

.projects-menu__item a {
    position: relative;
    color: #FFFFFF4D;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
}
.projects-menu__item a:hover {
    color: var(--main-color);
    transition: .7s all;
}
.projects-menu__item a:after{
    content: "";
    position: absolute;
    margin-top: 6px;
    left: 50%;
    display: block;
    height: 1px;
    width: 0;
    background:var(--main-color);
    transition: .7s all;
}
.projects-menu__item a:hover:after {
    width: 100%; 
    left: 0; 
}
.title_fz-27 {
    font-size: 27px;
    line-height: 1.3;
    color: var(--main-color)
}
.projects-wrapper .descr,
.specifications__item-descr {
    color: var(--main-f-color);
    width: 442px;
    line-height: 1.9;
    margin: 0;
    margin-top: 34px;
}
.projects-info {
display: flex;
flex-direction: column;
}
.specifications {
    display: grid;
    grid-template-columns: repeat(2, 213px);
    grid-template-rows: repeat(2, minmax(100px, auto));
}

.title_fz-18 {
    font-size: 18px;
    margin: 0;
}
.descr_fz-13 {
    font-size: 13px;
    margin-top: 9px;
    width: 134px;
    line-height: 1.6;
}
.projects-wrapper {
    display: grid;
    grid-template-columns: 442px 1fr;
    grid-template-rows: 70px repeat(2, 239px);
    column-gap: 50px;
    
}
.projects-slider{
    display: flex;
}
.projects-img {
    
    grid-column: 2;
    grid-row: 2/4;
}
.projects-img img {
    display: none;
    width: 100%;
    max-width: 679px;
    height: auto;
    object-fit: cover;
}
.active img {
    display: block;
}
.projects-slider__circle div {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
}
.projects-slider__circle {
    display: flex;
    justify-content: space-between;
    width: 64px;
    align-items: center;
    margin: 0 29px;
}
.projects-slider__circle_active div{
    background: var(--main-f-color);
}
.projects-slider__left, 
.projects-slider__right {
    margin-top: 6px;
}


.online {
    margin: -340px 0 147px;
}

.online-video {
    width: 817px;
    margin: 0 auto;
    margin-top: 31px;
    position: relative;
    box-shadow: 0px 5px 30px rgba(112, 91, 57, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-play {
    position: absolute; 
    z-index: 2;
}
.button_video {
    width: 86px;
    height: 86px;
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;    
}
.button_video div {
    margin-left: 15px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 29px solid #fff;
    border-bottom: 19px solid transparent;
}
hr {
    margin-top: 62px;
    width: 55px;
    height: 2px;
    background-color: var(--main-color);
    border: none;
}
.online .descr {
    width: 681px;
    margin: 0 auto;
    margin-top: 34px;
    color: #363636;
    font-size: 18px;
    text-align: center;
    line-height: 2;
}

.online-form__wrapper{
    margin: 0 auto;
    width: 771px;
    margin-top: 91px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.online-form__input {
    display: flex;
    flex-direction: column-reverse;
}
.online-form__input:nth-child(2) {
    margin-left: 58px;
}
.online-form__input label {
    padding-left: 5px;
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}
.online-form__input input {
    width: 231px;
    padding: 7px 5px 8px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.online-form__button {
    padding: 20px 75px 18px 76px;
    font-size: 13px;   
    margin-left: 49px;
}
.online-form__button:hover {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: .4s all;
}
.online-form__agree {
    margin-top: 37px;
    display: flex;
    justify-content: center;
}

.label_agree {
    font-size: 14px;
    color: #181818;
    display: flex;
    align-items: flex-end;
}
.online-form__agree input[type=checkbox],
.request-form__agree input[type=checkbox],
.map-form__agree input[type=checkbox] {
   display: none;
}
 
.label_agree:before,
.label_agree_position:before,
.label_agree-center:before {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: var(--main-f-color);
    border: 1px solid #E3B873;
    margin-right: 9px; 
}
 
.online-form__agree input[type=checkbox]:checked + .label_agree:before,
.request-form__agree input[type=checkbox]:checked + .label_agree_position:before,
.map-form__agree input[type=checkbox]:checked + .label_agree-center:before {
    border: 1px solid #E3B873;
    background-color: var(--main-color);
    background-image: url("../images/icons/check.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
}


.types {
    padding: 0 0 242px;
    background: url(../images/bg_types.png) left 71.8% / auto no-repeat;
}
.subtitle_color {
    color: #181818;
}
.types-wrapper {
    margin: 0 auto;  
    margin-top: 31px;
    width: 1236px;
    display: flex;
    justify-content: space-between;
}
.types__items {
    width: 392px;
}
.types__items:first-child {
    background: url("../images/images_types/img-repair_1.jpg") center top/contain no-repeat;
}
.types__items:nth-child(2) {
    background: url("../images/images_types/img-repair_2.jpg") center top/contain no-repeat;
}
.types__items:last-child {
    background: url("../images/images_types/img-repair_3.jpg") center top/contain no-repeat;
}

.types-info__items {
    background-color: var(--main-f-color);
    width: 330px;
    min-height: 286px;
    padding: 25px 29px 49px 34px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    margin-top: 294px;
}
.types__subtitle {
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #363636;
    text-transform: none;
    margin: 0;
}
.types-descr__item {
    color: #959595;
    font-size: 13px;
    line-height: 2;
    list-style: none;
}
.types-descr__item:before {
    content: '•';
    padding-right: 3px;
}
.types-descr {
    margin-top: 13px;
    padding-left: 0;
}
.bg{
    width: 228px;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--main-f-color);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    font-size: 18px;
    padding: 17px 21px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    margin-top: -25px;
    margin-left: 31px;
}

.request__img {
    position: absolute;
    width: 645px;
    bottom: 0;
}
.request {
    display: flex;
    justify-content: end;
    margin-top: 233px;

}
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 217px;
    z-index: 1;
}
.circles {
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: var(--main-f-color);
    background-color: var(--main-color);
    width: 49px;
    height: 49px;
    border-radius: 100%;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    align-items: center;
    justify-content: center;
    display: flex;
}
.about-us__items {
    display: flex;
    justify-content: space-between;
    width: 375px;
    margin-top: 83px;
}
.about-us__items:first-child {
    margin-top: 0;
}
.about-us__item {
    width: 316px;
}

.request-form {
    width: 506px;
    height: 509px;
    margin-right: 103px;
    background-color: #131313;
}
.request-form__subtitle{
    color: var(--main-f-color);
    font-size: 18px;
    margin: 0 auto;
    margin-top: 28px;
    width: 271px;
    text-align: center;
    line-height: 1.4;
}
.request-form__wrapper{
    margin: 39px 49px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.request-form__input input {
    width: 408px;
    padding: 7px 5px 3px;
    background-color: #131313;
    border: none; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: var(--main-f-color)
}
.request-form__input  {
    margin-top: 48px;  
}

.request-form__input:first-child {
    margin-top: 0;
}
.request-form__agree {
    margin-top: 16px;
    justify-content: flex-start;
}
.label_agree_position {
    display: flex;
    align-items: flex-end;
    margin-left: 49px;
    color: var(--main-f-color);
}
.request-form__input label {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
}

.button_call {
    margin-top: 39px;
    margin-left: 244px;
    padding: 19px 38px 19px 41px;
    font-size: 13px;
    border-radius: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.request-form__input input::-webkit-input-placeholder {
    color: #fff;
}
.request-form__input input:-moz-placeholder { 
    color: #fff;
}
.request-form__input input::-moz-placeholder { 
    color: #fff;
}
.request-form__input input:-ms-input-placeholder {
    color: #fff;
}
.request-form__input input:-o-input-placeholder {
    color: #fff;
}
.request-form__input input::-moz-placeholder, :-moz-placeholder {
    opacity: 1;
}
.save {
    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
    align-items: center;
    margin-right: 19%;
}
.save__img {
    width: 72px;
    height: 72px;
    background-color: var(--main-color);
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save p {
    font-size: 18px;
    color: var(--main-color);
    max-width: 344px;
    line-height: 1.4;
    margin-left: 21px;
} 


.fantasies {
    position: relative;
    height: 864px;
    background: url("../images/bg_fantasies.jpg") center center / cover no-repeat;

}
.fantasies-wrapper {
    position: relative;
    padding: 0 99px 0 97px;
    display: flex;
    justify-content: flex-end;
}
.fantasies__link {
    margin-top: 137px;
}
.fantasies__title {
    width: 381px;
}

.fantasies-menu {
    margin-top: 47px;
    min-height: 516px;
    padding: 0;
    list-style-type: none;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.fantasies-menu__item a {
    text-decoration: none;
    color: var(--main-f-color);
    font-size: 20px;
}
.fantasies-menu__item a:hover {
    color: var(--main-color);
    border-bottom: 1px solid #E3B873;
    transition: all .6s;
}
.fantasies-block-1__images img,
.fantasies-block-2__images img {
    width: 100%;
}

.fantasies-block-1__images {
    width: 354px;
    margin-top: -40px;
    margin-left: 77px;
}

.fantasies-block-1__images img:last-child {
    margin-top: 39px;
}
.fantasies-block-2__images {
    width: 354px;
    margin-top: -112px;
    margin-left: 43px;
}

.fantasies-block-2__images img:last-child {
    margin-top: 37px;
}
.fantasies-block__mobile {
    display: none;
}

.clients {
    padding: 110px 0 354px;
    position: relative;
    z-index: 3;
}
.clients:before {
    content: " ";
    background: url(../images/bg_clients_left.png);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 750px;
	height: 420px;
    z-index: -1;
    opacity: 0.1;
    
}
.clients:after {
    content: " ";
    background: url(../images/bg_clients_right.png);
    bottom: 0;
    right: 0;
    position: absolute;
    width: 729px;
	height:420px;
    z-index: -1;
    opacity: 0.1;
    
}
.clients .descr {
    width: 476px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    color: #363636;
    font-size: 18px;
}

.clients-wrapper {
    margin: 0 auto;
    margin-top: 39px;
    width: 1236px;
    display: flex;
    justify-content: space-between;
}
.reviews {
    width: 376px;
    min-height: 428px;
    background-color: var(--main-f-color);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.reviews-wrapper {
    padding: 24px 32px 90px 20px;
}
.info-wrapper {
    display: flex;
    align-items: center;
}
.reviews__foto img {
    border-radius: 100%;
    width: 76px;
    height: 76px;
}
.reviews__title {
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    margin-left: 23px;
    width: 178px;
    color: #181818;
    font-size: 18px;
}
.reviews__descr {
    margin-top: 22px;
    color: #959595;
    font-size: 13px;
    line-height: 1.7;
}
.data {
    width: 294px;
    height: 54px;
    background-color: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;  
    margin-bottom: -27px;
}
.data img{
    width: 32px;
    height: 31px;
    margin: 11px 15px 12px 17px;
}
.data span {
    border: 1px solid #fff; 
    margin-left: 14px;
}
.data p {
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--main-f-color);
    text-align: center;
}
.map {
    background: url(../images/bg_map.jpg) center center/cover no-repeat;
    padding: 100px 50px 50px;
    position: relative;
}
.map:before {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.map-form {
    background-color: #131313;
    padding: 34px 182px 34px;
    width: 883px;
    margin: 0 auto;
    margin-top: -310px;
    position: relative;
    z-index: 3;
}
 .map-form__subtitle,
 .map__title,
 .map__title a {
    font-family: "Yeseva One", Helvetica, Arial, sans-serif;
    text-align: center;
    color: var(--main-f-color);
    font-size: 20px;
    text-transform: uppercase;
}
.map-form__input input {
    width: 231px;
    display: flex;
}


.map-form__wrapper {
    padding: 46px 0;
    width: 516px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.map-form__input {
    margin-top: 0;
}
.map-form__input:last-child{
    margin-top: 49px;  
}
.map-form__input:last-child input {
    width: 516px;
}
.map-form__input input {
    padding: 7px 5px 8px;
}
.label_agree-center {
    color: var(--main-f-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.button_map {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 75px 19px;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 0;   
}
.map__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
.map__title {
    margin: 0;
    margin-top: 52px;
    color: var(--main-color);
    line-height: 1.3;
}
.map__title a {
    text-decoration: none; 
    color: var(--main-color);
}
.map-social {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}
.map-social__email,
.map-social__instagram {
    border-radius: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.map-social__email,
.map-social__instagram  {
    width: 28px;
    height: 28px;
}
.map-social__email a,
.map-social__instagram a  {
    display: flex;
}
.map__city iframe {
    display: block;
    margin: 0 auto;
    margin-top: 42px;
    max-width: 921px;
    max-height: 461px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.footer {
    background-color: #181818;
    padding: 48px 0;
}
.footer-wrapper {
    padding: 0;
}
 

















 @media screen and (min-width: 2000px){
    .repair {
        padding: 194px 0 208px 0;
    }
    .repair-wrapper {
        padding-left: 157px;
    }
 }

@media screen and (max-width: 1300px){
    .container {
        max-width: 990px;
        }
    .header-wrapper {
        justify-content: center;
    }
    .header-menu {
        width: 340px;
        margin-left: 21px;
    }
   
    .header-menu__item a {
        margin-left: 20px;
    }
    .phone a {
        margin-left: 130px; 
    }
    .repair-wrapper {
        padding-left: 80px;
    }
    .projects {
    padding: 43px 91px 416px 91px;
    }
    .projects-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    }
    .projects-wrapper .descr {
    text-align: center;
    }
    .projects-img {
    margin-top: 45px;
    }
    .title_fz-27 {
    text-align: center;
    margin: 0 auto;
    }
    .specifications_mobile {
    display: flex;
    }
    .projects-wrapper {
    display: flex;
    }
    .projects-img {
    order: 2;
    }
    .specifications {
    margin-top: 37px;
    order: 3;
    }
    .projects-menu {
    display: none;
    }
    .projects-slider {
    display: none;
    }
    .types {
        padding: 0 40px 242px;
        background: url(../images/bg_types.png) -70% 82% / auto no-repeat;
    }
    .types-wrapper {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 50px;
    }
    .about-us {
        margin-right: 30px;
    }
    .fantasies-wrapper {
    padding: 0 40px 0 40px;
    }

    .fantasies-menu {
    min-height: 485px;
    }
    .fantasies__link {
    margin-top: 86px;
    }
    .fantasies__title {
    width: 278px;
    }
    .request {
        justify-content: space-around;
    }
    .request-form {
        width: 442px;
        margin-right: 0;
    }
    .request-form__wrapper {
        margin: 39px 10px 0;
    }
    .button_call {
        margin-left: 201px; 
    }
    .about-us {
        margin-right: 0;
    }
    .fantasies {
        height: 100%;
    }
    .clients-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
        width: 100%;
    }
   
 }
@media screen and (max-width: 991px) {
    .container {
        width: 632px;
    }
    .repair {
        padding: 134px 0 178px 0;
    }
    .projects {
        padding: 43px 54px 416px 54px;
    }
  .header-wrapper {
    justify-content: space-around;
    } 
    .header-menu {
    display: none;
    }   
    .repair-wrapper {
        padding-left: 0;
    }
    .online-video {
        width: 95%;
    }
    .online-form__wrapper {
        width: 100%;
    }
    .online-form__input input {
        width: 100%;
    }
    .online-form__input:nth-child(2),
    .online-form__button {
        margin-left: 25px;
    }
    .online .descr {
        width: 100%;
    }
    .types {
        background:none;
        padding: 0 40px 75px;
    }
    .request,
    .save,
    .clients,
    .fantasies:before,
    .fantasies-block-1__images,
    .fantasies-block-2__images {
        display: none;
    }
    .fantasies {
        background: none;
    }
    .fantasies-wrapper {
        display: block;
        padding: 0;
    }
    .fantasies-menu {
        display: none;
    }
    .fantasies__link {
        margin-top: 0;
    }
    .fantasies__title {
        margin: 0 auto;
    }
    .fantasies-block__mobile {
        display: block;
        padding: 24px 17px 0;
        position: absolute;
        z-index: 3;
    }
    .fantasies-block__mobile div{
        display: none;
    }    
    .fantasies-block__mobile .active {
        display: block;
    }
    .fantasies-block__mobile img {
        width: 100%;
        height: 448px;
        object-fit: cover;
    }
    .map {
        position: relative;
        margin-top: 345px;
    }
    .map-form {
        margin-top: 170px;
        padding: 34px 57px 34px;
        width: 633px;
    }
    .map__city iframe {
        max-width: 632px;
    }

} 
 @media screen and (max-width: 767px) {
    .repair {
        padding: 94px 0 108px 0;
    }
    .container {
        width:510px;
    }
    .repair-wrapper {
        padding-left: 20px;
    }
    .phone a {
        margin-left: 18px;
    }
    .button_slim {
        margin-left: 0;
    }
    .projects {
        padding: 43px 0px 416px 0px;
    }
    .online-video {
        width: 94%;
    }
    .online-form__wrapper  {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .map,
    .map:before {
        background: #131313;
        padding: 0 0 49px;
    }
    .map-form__wrapper {
        padding: 52px 0 21px;
        width: 100%;
    }
    .map-form__subtitle {
        margin: 0;
    }
    .map__title {
        font-size: 18px;
        width: 340px;
        margin: 0 auto; 
        margin-top: 43px;
    }
    .map-form {
        padding: 173px 10px 34px;
        width: 490px;
        margin-top: 0;
        position: relative;
        z-index: 1;
    }
    .map-form__input:last-child input,
    .map-form__input input {
        width: 470px;
    }
    .map-form__input {
        margin-top: 63px;
    }
    .map__city iframe {
        max-width: 510px;
    }
    .map__city {
        order: -1;
    }
    .map-social__email,
    .map-social__instagram  {
        width: 39px;
        height: 38px;
    }
    .map-social__email svg{
        width: 20px;
        height: 16px;
    }
    .map-social__instagram svg {
        width: 17px;
        height: 17px;
    }
    .footer {
        display: none;
    } 
}
    
 
 @media screen and (max-width: 575px) {
    .repair {
        padding: 85px 18px 61px;
        background: url("../images/bg_repair_mobile.jpg") center center/cover no-repeat;
    }
    .container {
        width: 331px;
    } 
    .header-wrapper {
        justify-content: space-between;
    }
    .button_slim {
        display: none;
    }
    .phone a {
        margin-left: 18px;
        color: var(--main-f-color);
        text-decoration: none;
    }
    .repair-wrapper {
       padding-left: 0;
    }
    .repair-wrapper .descr {
        font-size: 1em;
        margin-top: 16px;
        line-height: 1.3;
        max-width: 339px;
    }
    .repair-wrapper__buttons {
        margin-top: 52px;
        display: block;
    }
    .button {
        box-shadow: none;
    }
    .button_cost,
    .button_mobile
     {
        width: 100%;
    }
    .button_mobile {
        display: block;
        margin-top: 26px;
    }
    .button_limpid {
        display: none;
    }
    .projects {
        padding: 43px 0px 322px 0px;
    }
    .projects-wrapper .descr {
        text-align: center;
        font-size: 11px;
        width: 311px;
        margin-top: 22px; 
    }
    .projects-img {
        margin-top: 69px;
    }
    .projects-img img {
        width: 340px;
        height: 242px;
        object-fit: cover;
    }
    .specifications {
        grid-template-columns: repeat(2, 169px);
    }
    .specifications__item-descr {
        font-size: 11px;
    }
    .title_fz-18 {
        font-size: 13px;
    }
    .online {
        margin: -340px 0 58px;
        background-color: #131313;
    }
    .online-video iframe {
        height: 207px;
    }
    .online-video:before,
    .online-video {
        width: 331px;
        height: 207px;
        box-shadow: none;
    }
    .online hr {
        margin-top: 28px;
    }
    .online .descr {
        margin-top: 21px;
        color: var(--main-f-color);
        font-size: 11px;
        line-height: 1.6;
    }
    .online-form__wrapper {
        margin-top: 61px;
        gap: 0;
        justify-content: flex-start;
    }
    .online-form__input label {
        color: rgba(255, 255, 255, 0.5);

    }
    .online-form__input input {
        width: 340px;
        padding: 8px 5px 8px;
        background-color: #131313;
        border: none; 
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        color: var(--main-f-color);
    }
    .online-form__input input::-webkit-input-placeholder {
        color: #fff;
    }
    .online-form__input input:-moz-placeholder { 
        color: #fff;
    }
    .online-form__input input::-moz-placeholder { 
        color: #fff;
    }
    .online-form__input input:-ms-input-placeholder {
        color: #fff;
    }
    .online-form__input input:-o-input-placeholder {
        color: #fff;
    }
    .online-form__input input::-moz-placeholder, :-moz-placeholder {
        opacity: 1;
    }
    .online-form__input:nth-child(2){
        margin-top: 63px;
        margin-left: 0;
    }
    .online-form__agree {
        margin-top: 27px;
    }
    .label_agree {
        color: var(--main-f-color);
    }
    .online-form__button {
        order: 2;
        width: 100%;
        box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
        margin-top: 62px;
        margin-bottom: -25px;
        margin-left: 0px;
    }
    .types {
        padding: 0 17px 55px 18px;
    }
    .types-wrapper {
        margin-top: 40px;
    }
    .types-info__items {
        padding: 21px 41px 37px 31px;
        width: 270px;
        margin-top: 218px;
        margin-left: 0;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
    .bg {
        margin-left: 0;
    }
    .fantasies__title {
        font-size: 22px;
    }
    .fantasies-block__mobile {
        padding:24px 0;
    }
    .fantasies-block__mobile img {
        width: 331px;
        height: auto;
    }
    .map {
        margin-top: 140px;
    }
    .map-form,
    .map-form__input,
    .map-form__input:last-child input,
    .map-form__input input {
        width: 100%;
    }
    .button_map {
        margin-top: 67px;
        width: 100%;
    }

    .map__city iframe {
        width: 100%;
        height: 251px;
    }


}  
